<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link rel="stylesheet" href="/project-management/ProjectManagement.Frontend/css/components/header.css">
</head>
    <body>
        <div class="header">
            <h1 id="page-title">Главная панель</h1>

            <button class="btn-login" id="login-btn" data-modal="signin" onclick="openModal('sign-in-wrapper')">
                <i class="fas fa-sign-in-alt"></i> Войти
            </button>
        </div>
    </body>
</html>